.footer-basic ul a, .footer-dark ul a, .sidebar-nav li a, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li a:hover {
    text-decoration: none
}

.contact-clean {
    background: #f1f7fc;
    padding: 80px 0
}

@media (max-width:767px) {
    .contact-clean {
        padding: 20px 0
    }
}

.contact-clean form {
    max-width: 480px;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1)
}

@media (max-width:767px) {
    .contact-clean form {
        padding: 30px
    }
}

.contact-clean h2 {
    margin-top: 5px;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 36px;
    color: inherit
}

.contact-clean .form-group:last-child {
    margin-bottom: 5px
}

.contact-clean form .form-control {
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
    outline: 0;
    color: inherit;
    padding-left: 12px;
    height: 42px
}

.contact-clean form .form-control:focus {
    border: 1px solid #b2b2b2
}

.contact-clean form textarea.form-control {
    min-height: 100px;
    max-height: 260px;
    padding-top: 10px;
    resize: vertical
}

.contact-clean form .btn {
    padding: 16px 32px;
    border: none;
    background: 0 0;
    box-shadow: none;
    text-shadow: none;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .4px;
    line-height: 1;
    outline: 0!important
}

.contact-clean form .btn:hover {
    opacity: 1
}

.contact-clean form .btn:active {
    transform: translateY(1px)
}

.contact-clean form .btn-primary {
    background-color: #055ada!important;
    margin-top: 15px;
    color: #fff
}

.footer-basic {
    padding: 40px 0;
    background-color: #fff;
    color: #4b4c4d
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0
}

.footer-basic li {
    padding: 0 10px
}

.footer-basic ul a {
    color: inherit;
    opacity: .8
}

.footer-basic ul a:hover {
    opacity: 1
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: .75
}

.footer-basic .social>a:hover {
    opacity: .9
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0
}

.footer-dark {
    padding: 50px 0;
    background-image: url("/assets/images/ai.jpg");
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0
}

.footer-dark ul a {
    color: inherit;
    opacity: .6
}

.footer-dark ul a:hover {
    opacity: .8
}

.footer-dark .item.text {
    margin-bottom: 36px
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px
    }
    .footer-dark .item.text {
        margin-bottom: 0
    }
}

.footer-dark .item.text p {
    opacity: .6;
    margin-bottom: 0
}

.footer-dark .item.social {
    text-align: center
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .4);
    margin: 0 8px;
    color: #fff;
    opacity: .75
}

.footer-dark .item.social>a:hover {
    opacity: .9
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: .3;
    font-size: 13px;
    margin-bottom: 0
}

.header-dark {
    background: url(/assets/img/AI.jpg);
    background-size: cover;
    padding-bottom: 80px
}

@media (min-width:768px) {
    .header-dark {
        padding-bottom: 120px
    }
}

.header-dark .navbar {
    background: 0 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none
}

@media (min-width:768px) {
    .header-dark .navbar {
        padding-top: .75rem;
        padding-bottom: .75rem
    }
}

.header-dark .navbar .navbar-brand {
    font-weight: 700;
    color: inherit
}

.header-dark .navbar .navbar-brand:hover {
    color: #f0f0f0
}

.header-dark .navbar .navbar-collapse span {
    margin-top: 5px
}

.header-dark .navbar .navbar-collapse span .login {
    color: #d9d9d9;
    margin-right: .5rem;
    text-decoration: none
}

.header-dark .navbar .navbar-collapse span .login:hover {
    color: #fff
}

.header-dark .navbar .navbar-toggler {
    border-color: #747474;
    color: #eee
}

.header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
    background: 0 0
}

.header-dark .navbar .form-inline, .header-dark .navbar .navbar-collapse {
    border-color: #636363
}

@media (min-width:992px) {
    .header-dark .navbar.navbar .navbar-nav .nav-link {
        padding-left: 1.2rem;
        padding-right: 1.2rem
    }
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link {
    color: #d9d9d9
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
    color: #fcfeff!important;
    background-color: transparent
}

.header-dark .navbar .navbar-nav>li>.dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 2px
}

.header-dark .navbar .dropdown-menu .dropdown-item, .header-dark .navbar .dropdown-menu .dropdown-item:focus {
    line-height: 2;
    font-size: 14px;
    color: #37434d
}

.header-dark .navbar .dropdown-menu .drodown-item:hover, .header-dark .navbar .dropdown-menu .dropdown-item:focus {
    background: #ebeff1
}

.header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
    background: #208f8f;
    border-radius: 20px;
    font-size: inherit;
    color: #fff;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: .5rem .8rem;
    transition: background-color .25s
}

.header-dark .navbar .action-button:hover {
    background: #269d9d
}

.header-dark .navbar .form-inline label {
    color: #ccc
}

.header-dark .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: 0 0;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color .3s
}

.header-dark .navbar .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc
}

.header-dark .hero {
    margin-top: 60px
}

.header-dark .hero h1 {
    color: #fff;
    font-family: Bitter, serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 80px
}

.header-dark .hero .embed-responsive iframe {
    background-color: #666
}

@media (min-width:768px) {
    .header-dark .hero {
        margin-top: 20px
    }
    .header-dark .hero h1 {
        margin-bottom: 50px;
        line-height: 1.5
    }
}

body {
    overflow-x: hidden
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

#wrapper.toggled {
    padding-left: 250px
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px
}

.sidebar-nav li a {
    display: block;
    color: #999
}

.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, .2)
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px
}

.sidebar-nav>.sidebar-brand a {
    color: #999
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: 0 0
}

@media (min-width:768px) {
    #wrapper {
        padding-left: 250px
    }
    #wrapper.toggled {
        padding-left: 0
    }
    #sidebar-wrapper {
        width: 250px
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0
    }
}