<!DOCTYPE html>
<html>

<body>
    <div class="highlight-blue">
        <header></header>
        <div class="container" id="container1">
            <div class="intro">
                <h2 class="text-center">Welcome to EASYContext </h2>
                <p class="text-center"> </p>
            </div>
        </div>
    </div>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color:#33A5FF;">Our Features
                </h2>

            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" [routerLink]="['/contextextraction']"><i class="fa fa-language icon"></i>
                        <h3 class="name" style="color:whitesmoke;">Context Extraction
                        </h3>

                    </div>
                </div>

                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" [routerLink]="['/summarize']"><i class="fa fa-file-text icon" aria-hidden="true"></i>
                        <h3 class="name" style="color:whitesmoke;">Summarize text </h3>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>

    </div>